:root {
	font-size: 16px;
	--root-size: 1.2rem;
}

* {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	margin-top: 0.2rem;
}

main > p {
	margin-bottom: 1.8rem;
	line-height: 1.8rem;
}

body {
	font-size: var(--root-size);
}
