:root {
	--font-size: 16px;
	--root-size: 1.2rem;
	--white: rgb(240, 245, 255);
	--blue: rgb(0, 18, 158);
	--transparent-blue: rgba(0, 18, 158, 0.284);
	--gray: #85888C;
	--font-family: "Inclusive Sans", sans-serif;
	--spacing: 1.8rem; 
	--padding-spacing: 1.5rem;
}

* {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	margin-top: 0.2rem;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--blue);
	font-family: var(--font-family);
}


main > p {
	margin-bottom: var(--spacing);
	line-height: var(--spacing);
}

body {
	font-size: var(--root-size);
}


/* NAV */
ul{
	list-style: none;
}

.nav {
	width: 100%;
	position: absolute;
	background-color: var(--blue);
	overflow: hidden;
	max-height: 0;
	transition: max-height .5s ease-out;
	top: 100%;
	left: 0;
	z-index: 9;
}

.menu a {
	display: block;
	padding: 30px;
	color: var(--white);
}

.menu a:hover {
	background-color: var(--gray);
}

/* MENU ICON */
.hamb {
	cursor: pointer;
	float: right;
	padding: var(--padding-spacing);
	margin-right: 0.2rem;
}

.hamb-line {
	background: var(--white);
	display: block;
	height: 2px;
	position: relative;
	width: 24px;
}

.hamb-line::before, .hamb-line::after {
	background: var(--white);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.hamb-line::before {
	top: 5px;
}

.hamb-line::after {
	top: -5px;
}

.side-menu {
	display: none;
}

/* TOGGLE MENU ICON */
.side-menu:checked ~ nav {
	max-height: 1000%;
}

.side-menu:checked ~ .hamb .hamb-line {
	background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
	transform: rotate(-45deg);
	top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
	transform: rotate(45deg);
	top: 0;
}


/* HEADER */
.header{
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
	padding-top: var(--padding-spacing);
	padding-bottom: var(--padding-spacing);
	margin-bottom: var(--padding-spacing);
}

.sticky-header {
	position: sticky;
	top: 0;
}


/* LOGO */
.logo {
	display: inline-block;
	margin-left: calc(var(--spacing) + 0.2rem);
	margin-top: 0.5rem;
}

.logo-container {
	width: var(--root-size);
	height: var(--root-size);
	perspective: 50rem;
}

.logo-cube {
	position: relative;
	width: var(--root-size);
	height: var(--root-size);
	transform-style: preserve-3d;
	transform: rotate3d(1, 1, 0, 45deg);
}

.side {
	width: var(--root-size);
	height: var(--root-size);
	background: var(--white);
	border: 1px solid var(--blue);
	position: absolute;
	opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.front {
	transform: translateZ(0.6rem);
}

.back {
	transform: translateZ(-0.6rem) rotateY(180deg);
}

.left {
	transform: translateX(-0.6rem) rotateY(-90deg);
}

.right {
	transform: translateX(0.6rem) rotateY(90deg);
}

.top {
	transform: translateY(-0.6rem) rotateX(90deg);
}

.bottom {
	transform: translateY(0.6rem) rotateX(-90deg);
}

@keyframes turn {
	from {
		transform: rotate3d(0, 0, 0, 0);
	}

	to {
		transform: rotate3d(1, 1, 0, 360deg);
	}
}

.cube-container:hover .cube {
	animation-play-state: paused;
}

.logo-cube {
	position: relative;
	width: var(--root-size);
	height: var(--root-size);
	transform-style: preserve-3d;
	animation: turn 5s linear infinite;
}


/* ARTICLE TITLE HEADER*/
h1 {
	font-weight: 400;
	color: var(--blue);
	padding-left: var(--padding-spacing);
	padding-right: var(--padding-spacing);
	line-height: calc(var(--padding-spacing) * 2);
	border-left: solid var(--blue) 2px;
}

.h1-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 0.1rem;
	align-items: center;
	grid-template-areas: 
		"p h1"
		"p h1";
	border: solid var(--blue);
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

h1, h2 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.article-number {
	text-align: center;
	padding: 0.5rem;
	font-size: 7rem;
	align-items: start;
}

address {
	text-align: center;
	margin-bottom: 1rem;
	border: solid var(--blue) 1.5px;
	border-radius: 1rem;
	padding: 1.5rem;
	max-width: 20rem;
	margin: auto;
	margin-top: 1rem;
	color: var(--blue);
}

address:nth-child(2) {
	text-decoration: underline;
	margin-bottom: var(--spacing);
}

address > p {
	margin: 0;
}


/* BODY */
body:has(.side-menu:checked) {
	overflow: hidden;
}

body{
	background-color: var(--white);
	font-family: "Inclusive Sans", sans-serif;
}

p {
	line-height: var(--spacing);
	margin-bottom: var(--spacing);
	/* margin-left: 1.5rem;
	margin-right: 1.5rem; */
}

/* BLOCKQUOTE */
blockquote {
	text-align: center;
	background: none;
	color: var(--blue);
	padding: 1.5rem;
	margin-bottom: 1.8rem;
	border-radius: 1.5rem;
	border: solid var(--blue) 0.1rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

blockquote > q, cite, time {
	/* color: var(--white); */
	font-size: 1.2rem;
	font-weight: 300;
}


/* FOOTER */
footer {
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	position: bottom;
}

footer > p {
	color: var(--white);
}


/* GRID BACKGROUND */
.graph-paper {
	width: 100%;
	height: 100%;
	background-color: var(--white);
	background-image: 
		linear-gradient(to right, var(--transparent-blue) 1px, transparent 1px),
		linear-gradient(to bottom, var(--transparent-blue) 1px, transparent 1px);
	background-size: 2.6rem 2.8rem;
}

.blue-graph {
	width: 100%;
	height: 100%;
	background-color: var(--blue);
	background-image: 
		linear-gradient(to right, var(--gray) 1px, transparent 1px),
		linear-gradient(to bottom, var(--gray) 1px, transparent 1px);
	background-size: 2.5rem 2.2rem;
}


/* TABLET BREAKPOINT */
@media (min-width: 800px) {
	/* NAV */
	.nav {
		position: static;
		display: flex;
		justify-content: right;
		align-items: right;
		max-height: none;
		padding: 1rem 2rem;
		background: none;
	}

	.menu {
		display: flex;
		gap: 2rem;
	}

	.menu a {
		color: var(--white);
		padding: 1rem;
		background-color: var(--blue);
		border-radius: 1rem;
		border: solid var(--white) 1px;
		transition: background-color 0.3s ease;
		font-size: 0.8rem;
		line-height: 0.9rem;
	}

	.menu a:hover {
		background-color: var(--white);
		color: var(--blue);
	}

	.hamb {
		display: none;
	}

	.header {
		display: flex;
	}

	/* LOGO */
	.logo {
		margin-left: 3rem;
		margin-top: 1rem;
	}

	.logo-container {
		width: 2rem;
		height: 2rem;
	}

	.logo-cube {
		width: 2rem;
		height: 2rem;
	}

	.side {
		width: 2rem;
		height: 2rem;
	}

	.front {
		transform: translateZ(1rem);
	}
	
	.back {
		transform: translateZ(-1rem) rotateY(180deg);
	}
	
	.left {
		transform: translateX(-1rem) rotateY(-90deg);
	}
	
	.right {
		transform: translateX(1rem) rotateY(90deg);
	}
	
	.top {
		transform: translateY(-1rem) rotateX(90deg);
	}
	
	.bottom {
		transform: translateY(1rem) rotateX(-90deg);
	}

	/*ARTICLE HEADING TITLE*/
	.parent-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1.5rem;
		margin: auto;
		margin-bottom: 1.5rem;
	}

	.h1-container {
		flex: 0 0 auto;
		width: 60%;
		margin-left: 0;
	}

	address {
		/* max-width: 12rem; */
		margin: 0;
		font-size: 1.5rem;
		padding: 1rem;
	}

	address:nth-child(2) {
		width: 12rem;
		margin: 0;
	}

	.address-container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 30%;
		justify-content: space-between;
		margin-top: 1.5rem;
		align-items: center;
	}

	.top-right, .bottom-right {
		flex: 1;
	}

	/* MAIIN */
	main > p, section {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	/* BLOCKQUOTE */
	blockquote {
		padding: 1.5rem;
		border-radius: 1.5rem;
		border: solid rgb(0, 18, 158) 0.1rem;
		margin-bottom: 1.5rem;
	}

	blockquote > q, cite, time {
		color: var(--white);
		font-weight: 300;
	}

}


/* DESKTOP BREAKPOINT */
@media (min-width: 1280px) {
	/* NAV */
	.menu a {
		font-size: 1.5rem;
	}
	
	/* LOGO */
	.logo {
		margin-left: 5rem;
		margin-top: 0.5rem;
	}

	.logo-container {
		width: 3rem;
		height: 3rem;
	}

	.logo-cube, .side {
		width: 3rem;
		height: 3rem;
	}

	.side {
		width: 3rem;
		height: 3rem;
	}

	.front {
		transform: translateZ(1.5rem);
	}
	
	.back {
		transform: translateZ(-1.5rem) rotateY(180deg);
	}
	
	.left {
		transform: translateX(-1.5rem) rotateY(-90deg);
	}
	
	.right {
		transform: translateX(1.5rem) rotateY(90deg);
	}
	
	.top {
		transform: translateY(-1.5rem) rotateX(90deg);
	}
	
	.bottom {
		transform: translateY(1.5rem) rotateX(-90deg);
	}

	/* BODY TEXT */
	main {
		margin-left: 3rem;
		margin: auto;
		font-size: 1.5rem;
		/* display: grid;
		grid-template-columns: 1fr 1fr;
		margin-right: 3rem; */
	}

	main > p, blockquote, section {
		line-height: 2.5rem;
		grid-column: 2;
		margin-bottom: 2rem;
	}

}