
/* ARTICLE TITLE HEADER*/
h1 {
	font-size: 2.5rem;
	border-right: solid var(--blue) 1px;
}

.h1-container {
	grid-template-columns: 2fr 1fr;
}


/* TABLE OF CONTENTS */
details {
	padding: 1rem;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 2.1rem;
	text-align: left;
	margin: auto;
	margin-bottom: 1.5rem;
	background-color: var(--white);
	border: solid var(--blue) 1.5px;
	max-width: 20rem;
	/* border-radius: 1rem; */
}

summary {
	text-align: center;
	font-weight: 500;
	list-style-type: "+";
	list-style-position: outside;
	margin-left: 1.5rem;
	/* border-bottom: solid 1px rgb(213, 213, 213);
	margin-bottom: 1rem; */
}

details[open] > summary {
	list-style-type: "-";
	list-style-position: open;

}

aside > details[open] {
	color: var(--white);
}

li {
	border-bottom: solid 1px var(--blue);
}


/* SECTION TITLES */
h3 {
	font-size: 1.3rem;
	padding: 1rem;
	line-height: 2.1rem;
	margin: auto;
	color: var(--blue);
	margin-bottom: 1.5rem;
	text-align: center;
	max-width: 20rem;
	border: solid var(--blue) 1px;
}


main {
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}

/* FOOTER */
footer {
	padding-left: 1.5rem;
}


/* TABLET BREAKPOINT */
@media (min-width: 800px) {
	/* ARTICLE TITLE */
	h1{
		font-size: 4.8rem;
		line-height: 6rem;
	}

	.parent-container {
		max-width: 80rem;
		display: grid;
		grid-template-columns: 0.5fr 2fr;
		grid-template-areas: 
		"address-container h1-container h1-container";
		gap: 1rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.h1-container {
		margin-right: 1rem;
		flex: 0 0 auto;
		width: 100%;
		height: 15rem;
		grid-area: h1-container;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: 
		"h1 h1 p";
	}
	

	.article-number {
		font-size: 8rem;
		padding: 1.5rem;
	}

	address {
		max-width: 15rem;
		margin: 0;
		font-size: 1.3rem;
		padding: 1.5rem;
	}

	address:nth-child(2) {
		width: 16rem;
		margin: 0;
	}

	.address-container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		justify-content: space-between;
		margin-top: 1.5rem;
		align-items: center;
	}

	.top-right, .bottom-right {
		flex: 1;
	}

	/* MAIN */
	.content-grid {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto;
		gap: 1rem;
		margin-bottom: 1.5rem;
		/* min-height: 100vh; */
	}
	
	main > p, blockquote, section {
		line-height: var(--spacing);
		grid-column: 2;
		margin: auto;
		max-width: 28rem;
	}


	/* TABLE OF CONTENTS */
	aside {
		/* grid-column: 1; */
		position: sticky;
		top: 10rem;
		margin-left: auto;
		margin-right: auto;
	}

	details {
		position: sticky;
		top: 3rem;
		max-height: 90vh;
		overflow-y: auto;
		overflow: visible;
		z-index: 10;
		margin-left: 0.7rem;
		max-width: 25rem;
	}

	summary {
		font-size: 1.5rem;
	}

	li {
		line-height: 3rem;
	}


	/* BLOCKQUOTE */
	blockquote {
		margin-bottom: 1.5rem;
	}


	/* SECTION HEADER */
	.header-name {
		height: 4rem;
		font-size: 2rem;
		min-width: 22rem;
	}

	h3 {
		max-width: 30rem;
	}

	section > p {
		line-height: var(--spacing);
	}

	section {
		margin-bottom: 1rem;
	}
	

	/* FOOTER */
	footer {
		position: bottom;
	}
}


/* DESKTOP BREAKPOINT */
@media (min-width: 1280px) {
	/* LOGO */
	.logo {
		margin-left: 5rem;
	}

	/*ARTICLE HEADING TITLE*/
	.parent-container {
		justify-content: center;
		align-items: center;
		max-width: 80rem;
		margin-top: 2rem;
		margin-bottom: 3rem;
		gap: 3rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}
	
	h1{
		font-size: 7rem;
		line-height: 8rem;
		padding-top: 3.8rem;
		padding-bottom: 3.8rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.article-number {
		font-size: 10rem;
	}

	.h1-container {
		flex: 0 0 auto;
		width: 100%;
		height: 24rem;
	}

	address {
		max-width: 20rem;
		margin: 0;
		font-size: 2rem;
		padding: 2.8rem;
	}

	address:nth-child(2) {
		width: 21rem;
		margin: 0;
	}

	.address-container {
		display: flex;
		flex-direction: column;
		gap: 4.9rem;
		width: 100%;
		justify-content: space-between;
		margin-top: 1.5rem;
		align-items: center;
		grid-area: address-container;
	}

	.top-right, .bottom-right {
		flex: 1;
	}


	.content-grid {
		grid-template-columns: 1fr 1.5fr;
		margin-left: auto;
		margin-right: auto;
	}

	/* TOC */
	details {
		width: 28rem;
		margin-left: 2rem;
	}
	
	summary {
		font-size: 1.8rem;
	}


	/* BODY TEXT */
	main {
		margin-left: 3rem;
		margin: auto;
		font-size: 1.5rem;
	}

	main > p {
		line-height: 2.5rem;
		padding-bottom: 1.5rem;

	}

	main > p, blockquote, section {
		max-width: 35rem;
		margin: auto;
	}

	h3 {
		max-width: 35rem;
		margin-bottom: 2rem;
	}

	/* BLOCKQUOTE */
	blockquote {
		margin-bottom: 2rem;
	}

}